#inbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%
}


#all-tasks {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 70%;
  overflow: scroll;
  margin: 0 1rem;
  padding: 1rem;
}

.inbox-task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.inbox-task-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
